{% extends "base.html" %}
{% load static %}

{% block title %}All Project{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/all_project_page.css" %}">
    <link rel="stylesheet" href="{% static "css/dashboard_page.css" %}">
{% endblock styles %}

{% block content %}

    <!-- Top Navigation-Bar -->
    {% include "core/includes/dashboard_page_components/dashboard_page_top_navigation_bar.html" %}

    <div class="container">

        <!-- header part-->
         {% include "projects/includes/all_project_page_contents/all_project_page_header.html" %}
        

        <!-- filter part-->
         {% include "projects/includes/all_project_page_contents/all_project_page_filters.html" %}
        

        <!-- project table -->
         {% include "projects/includes/all_project_page_contents/all_project_page_table.html" %}
        
        
        <!-- no result part-->
         {% include "projects/includes/all_project_page_contents/all_project_page_no_result.html" %}
        

        <!-- Pagination part -->
         {% include "projects/includes/all_project_page_contents/all_project_page_pagination.html" %}
        
    </div>

    <script type="module" src="{% static "js/all_project_page_script/all_project_page.js" %}"></script>

{% endblock content %}


